<ion-header>
  <ion-toolbar>
    <!-- <ion-title>landing</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/welcome.jpg"></ion-img>
    <ion-card-header>
      <!-- <ion-card-subtitle>Get Started</ion-card-subtitle> -->
      <ion-card-title>Welcome to My Application</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="light" routerLink="/login"><b>Login</b></ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="light" routerLink="/register"><b>Register</b></ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>