<ion-header>
  <ion-toolbar>
    <ion-title>Create Post</ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/dashboard">
        <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="createPost(form)" method="post">
      <ion-item>
          <ion-label position="floating">Id</ion-label>
          <ion-input type="text" [(ngModel)]= "todo.postid" name="postid" required></ion-input>
      </ion-item>
    <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input type="text" [(ngModel)]= "todo.title" name="title" required></ion-input>
      </ion-item>
    <ion-item>
        <ion-textarea placeholder="Enter the description here..." [(ngModel)]="todo.description" rows="8" name="description" required></ion-textarea>
      </ion-item>
      <ion-button type="submit" expand="block" color="primary">Submit</ion-button>
  </form>
</ion-content>
