<ion-header>
  <ion-toolbar>
    <ion-title>User Profile</ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/dashboard">
        <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
    <ion-button (click)="openMenu($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">         
    <img src="/assets/profile.png" style="width: 70%; padding-left:80px">
    <br> 
    <ion-button (click)="editProfile()">
    <ion-icon name="create"></ion-icon>
    </ion-button>

  <div *ngIf="edit===true && user!=undefined">
    <form #form="ngForm" (ngSubmit)="isSave(form)" method="post">
        <ion-item>
            <ion-label position="floating">User Name</ion-label>
            <ion-input type="text" [(ngModel)]= "user.username" name="username" required></ion-input>
          </ion-item>

        <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input [(ngModel)]= "user.firstName" name="fName" required></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input [(ngModel)]= "user.lastName" name="lName" required></ion-input>
        </ion-item>
      
        <ion-button type="submit" expand="block" color="primary">Save</ion-button>
    </form>
  </div>

  <div *ngIf="edit===false && user != undefined">
    <form #form="ngForm">
          <ion-item>
            <ion-label position="floating">User Name</ion-label>
            <ion-input type="text" [(ngModel)]= "user.username" name="username" [disabled]="!edit"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="floating">First Name</ion-label>
              <ion-input [(ngModel)]= "user.firstName" name="firstName" [disabled]="!edit"></ion-input>
          </ion-item>
        
           <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input [(ngModel)]= 'user.lastName' name="lastName" [disabled]="!edit"></ion-input>
          </ion-item>
    </form>
  </div>
</ion-content>
