<ion-header>
  <ion-toolbar>
    <ion-title>{{ details.title }}</ion-title>
    <ion-buttons slot="start">
        <ion-button routerLink="/dashboard">
          <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          refreshingSpinner="circles">
        </ion-refresher-content>
      </ion-refresher>
    <ion-card>
      <ion-card-header color="primary">
          Post Details
      </ion-card-header>
      <ion-card-content>  
      <br><br>
        Id : {{ details.postId }}<br>
        Title : {{ details.title }}<br>
        Description : {{ details.description }}<br>
        Author : {{details.author.username}}<br>
        <!-- Author : {{details.comments.commentBy.username}} -->
        CreatedDate : {{ details.createdDate }}
      </ion-card-content>
    </ion-card>
    <form #form="ngForm" (ngSubmit)="comment(form)">
      <ion-card>
          <ion-card-header>
              <ion-label>Comments</ion-label>
          </ion-card-header>
          <ion-card-content>
          <ion-item>
              <ion-textarea auto-grow="true" [(ngModel)]="comm"  name="comm" clearOnEdit="true" rows="4" cols="20" placeholder="Comment..."></ion-textarea>
            </ion-item>
            <ion-button type="submit">Submit</ion-button>
        <div class="comment-box">  
          <ion-card *ngFor="let post of details.comments">
            <ion-card-content>
                <ion-buttons slot="end">
                  <strong>{{post.text}}</strong>
                    <ion-button *ngIf= "postType===true" class = "delete-button" (click)="deleteComment(post._id)">
                        <ion-icon name="close-circle-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                  <ion-text style = "font-size: 11px ; ">
                  - {{post.commentBy.username}} {{ post.commentedOn }}
                  </ion-text>
            </ion-card-content>
          </ion-card>
        </div>
       </ion-card-content>
      </ion-card>
    </form>
</ion-content>
